
/* Defining the general CSS styles */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
     scroll-behavior:smooth;
     scrollbar-width: thin;
}

body {
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 1rem 1rem;
    background-color: rgba(182, 171, 171, 0.801);
}

h1 {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.1rem;
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 1rem 0.9rem;
}

h2 {
    margin-top: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    color: #000;
    letter-spacing: 0.7px;
    font-weight: 400;
    padding: 0.8rem 0.7rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 2rem;
    font-family: "Lato", sans-serif;
}


/* ### Header section ### */

.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../static/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}


/* Header navigation bars */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav__button {
    display: flex;
    justify-content: space-around;
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 0.9rem;
    color: #fff;
    margin: 1rem;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.btn:hover {
    transform: translateY(-3px);
    border-bottom: 0.1rem solid #32a1ce;
    backface-visibility: hidden;
}

ul li {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 10%;
}

.heading-primary {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 1.2rem;
    color: #fff;
}

.heading__primary--main {
    display: block;
    line-height: 25px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: #00B7C2;
}

.heading__primary--sub {
    display: block;
    font-size: 1.5rem;
    border-bottom: 30px;
}


/* Header navigation buttons */

.btn-info:link,
.btn-info:visited {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #00B7C2;
    border-radius: 20px;
    font-size: 1.3rem;
}

.btn-info:hover {
    transform: scaleY(5px);
}

.section {
    padding: 3.5rem 12rem;
}

.section-about,
.section-me {
    background-color: #d7e9ef;
    min-height: 90vh;
}

.section-visualization {
    background-color: #fff;
}

.section-me {
    display: flex;
    justify-content: space-between;
}

.section-me__photo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo {
    max-width: 75%;
    height: 75vh;
    border-radius: 50%;
}

.section-me__heading {
    margin-top: 8rem;
    text-transform: none;
    font-size: 2.4rem;
    font-weight: 450;
    letter-spacing: 2px;
}

.section-me__paragraph {
    padding: 0 10rem;
}

.section-me__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-link__description {
    display: flex;
}

.social-link__icons a:not(:last-child) {
    margin-right: 60px;
}

.btn-social-twitter :hover {
    color: #32a1ce;
}

.btn-social-linkedin :hover {
    color: #0e76a8;
}

.btn-social-instagram :hover {
    color: #fb3958;
}