<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!--link rel="shortcut icon" type="image/png" href="img/">-->

    <title>Top-Up Loan Predictor</title>
</head>

<body>

    <header class="header">
        <nav class="main-nav">

            <h1>Loan-Upsell Predictor</h1>




            <ul class="main-nav__navbar">
                <li>
                    <a href="#about-me" class="btn main-nav__button">About Me</a>
                </li>
                <li>
                    <a href="#about-project" class="btn main-nav__button">About Project</a>
                </li>
                <li>
                    <a href="#connect" class="btn main-nav__button">Connect</a>
                </li>
                <li>
                    <a href="{{ url_for('predict') }}" class="btn main-nav__button">Predictor</a>
                </li>
            </ul>

        </nav>

        <div class="header__text-box">
            <h4 class="heading-primary">
                <span class="heading__primary--main">Save Time and Cost!</span>
                <span class="heading__primary--sub">Avail additional funding soon</span>
            </h4>

            <a href="#" class="btn btn-info">More Info</a>

        </div>

    </header>

    <section class="section section-about" id="about-project">

        <h2>Top-Up Loan Predictor</h2>

        <p class="section-about__paragraph">
            A loan is when you receive the money from a financial institution in exchange for future repayment of the principal, plus interest. Financial institutions provide loans to the industries, corporates and individuals. The interest received on these loans
            is one among the main sources of income for the financial institutions. A top-up loan, true to its name, is a facility of availing further funds on an existing loan. When you have a loan that has already been disbursed and under repayment
            and if you need more funds then, you can simply avail additional funding on the same loan thereby minimizing time, effort and cost related to applying again. LTFS provides it’s loan services to its customers and is interested in selling more
            of its Top-up loan services to its existing customers so they have decided to identify when to pitch a Top-up during the original loan tenure. If they correctly identify the most suitable time to offer a top-up, this will ultimately lead to
            more disbursals and can also help them beat competing offerings from other institutions.
        </p>
    </section>

    <section class="section section-visualization">

        <h2>Dashboarding and Visualization</h2>

        <!-- See if you will be adding visualizations -->
        <p>According to a
            <a href="https://www.import.io/post/what-is-data-visualization/">
                <cite>Data Science article on this Link:</cite>
            </a>
        </p>

        <p class="section-visualization__paragraph">
            Data visualization is the representation of data or information in a graph, chart, or other visual format. It communicates relationships of the data with images. This is important because it allows trends and patterns to be more easily seen. With the
            rise of big data upon us, we need to be able to interpret increasingly larger batches of data. Machine learning makes it easier to conduct analyses such as predictive analysis, which can then serve as helpful visualizations to present.

            <!--Include visualizations-->
        </p>


    </section>

    <section class="section section-me" id="about-me">

        <div class="section-me__photo">
            <img src="../static/3.jpg" alt="Cover" class="photo">
        </div>

        <div class="section-me__description">
            <h2 class="section-me__heading">ML Enthusiast</h2>
            <p class="section-me__paragraph">I am Sagar Sinha, currently exploring different domains of Data Science and experimenting with them. Keen on learning new Machine Learning algorithms and their specific use cases. Also learning about modes of model deployment. Besides these,
                I have taken to reading a lot lately. A passionate bibliophile. Below I have given my social media links. Happy to have new connections. Focussing and moving ahead!</p>
        </div>


    </section>


    <section class="social-link" id="connect">

        <h2 class="social-link__heading">Built with <span style="font-size:30px; padding-right:7px;">&#128153;</span>by Sagar!</h2>

        <p class="social-link__description" style="font-size:1.3rem; margin-bottom:10px;">Connect with me!</p>

        <div class="social-link__icons">
            <a href="https://twitter.com/saggysimba" style="font-size:25px; color:#000" class="btn-social-twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/sagar-sinha-491434130/" style="font-size:25px; color:#000" class="btn-social-linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/saggysimmba/" style="font-size:25px; color:#000" class="btn-social-instagram"><i class="fa fa-instagram"></i></a>
        </div>
    </section>




</body>

</html>