<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loan.css') }}">

    <!--link rel="shortcut icon" type="image/png" href="img/">-->

    <title>Duration-1</title>
</head>

<body>

 <h1 style="text-align: center; font-size: 3 rem; font-weight: bolder">Your right bucket of top-up loan &#128515;</h1>
    <div class="rainyimg">
        <img src="../static/4.jpg" alt="Money-photo" style="height: 550px; width: 550px; margin-left: 32%">
    </div>
    
    <div>
        <h2> 
        <center> 
        Your existing loan can be topped up for a maximum period of<span style="font-style: italic; font-weight: bolder;">12-18 Months.</span></center>
        </h2>
    </div>
</body>

</html>